.road_container{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.road_img{
     
    position: relative;
    object-fit: cover;
    width: 100vw;

}
.road{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

}
.road_content{
    width: 100%;
}
.road_header{
    color: #D600FF;
     margin: 0;
    font-size: 98px;
    font-family: Montserrat;
    padding-bottom: 100px;
    text-align: center;
}
.row{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    
}
.col1{
    text-align: end;
    width:38%;
    display: flex;
    font-size: 28px;
    justify-content: space-between;
    flex-direction: column;

}
.col1_1{
    display: flex;
    flex-direction: column;
    border: 1px solid #56EEFB;
    border-radius: 20px;
    padding: 25px 15px;
    margin: 0;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 10px #56EEFB;
   backdrop-filter: blur(4px);
}
.col1_1:nth-child(2){
    display: flex;
    flex-direction: column;
    border: 1px solid #56EEFB;
    border-radius: 20px;
    padding: 25px 15px;
    margin: 0;
    margin: 170px 0px;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 10px #56EEFB;
   backdrop-filter: blur(4px);
    
}
.col_1_p{
    margin: 0;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
}
.col2{
    width:19%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.col2_1{
    display: flex;
    flex-direction: column;
    
}
.pentagon {
    position: relative;
    width: 250px;
  }
  .phase{
    
      position: absolute;
      padding-top: 65px;
      font-size: 35px;
      font-weight: 500;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      color: transparent;
      font-family: Montserrat;
      padding-left: 65px;
  }
.col3{
    text-align: end;
    width:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col3_1:nth-child(1){
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 25px 15px;
    margin: 0;
    margin-bottom: 280px;
    color: #FFFFFF;
    border: 1px solid #56EEFB;
    box-shadow: inset 0px 0px 10px #56EEFB;
   backdrop-filter: blur(4px);
    
}
.col3_1{
    display: flex;
    flex-direction: column;
    border: 1px solid #56EEFB;
    border-radius: 20px;
    padding: 25px 15px;
    margin: 0;
    color: #FFFFFF;
    box-shadow: inset 0px 0px 10px #56EEFB;
   backdrop-filter: blur(4px);
    
}
.col_3_p{
    margin: 0;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
}
.col4{
    display: none;
}
.col5{
    display: none;
}

@media screen and (max-width: 1450px){
    .road_header{
        padding-bottom: 20px;
    }
    .col1_1:nth-child(2){
        margin: 10px 0px;   
    }

    .pentagon {
        width: 250px;
    
        /* border-color: red transparent; */
      }
    .col3_1:nth-child(1){

        margin-bottom: 200px;
        
    }
}
@media screen and (max-width: 1250px){
    .road_header{
        font-size: 78px;
        padding-bottom: 20px;
    }
    .col1{
        /* align-items: flex-start; */
        justify-content: start;
    }
    .col1_1:nth-child(2){
        margin: 30px 0;
    }
        .col_1_p{
            font-size: 22px;
        }  
        .pentagon{
            width: 215px;
        }
        .phase{
            font-size: 30px;
            padding-top: 55px;
            padding-left: 55px;
        }

        .col_3_p{
            font-size: 22px;
        }
}
@media screen and (max-width: 1150px){
    .road_header{
        font-size: 52px;
        padding: 30px 0px;
    }
    .col1{
        /* align-items: flex-start; */
        justify-content: start;
    }
    .col1_1:nth-child(2){
        margin: 20px 0;
    }
        .col_1_p{
            font-size: 16px;
        }  
        .pentagon{
            width: 150px;
        }
        .col2{
            justify-content: flex-start;
        }
        .phase{
            padding-top: 40px;
            font-size: 22px;
            padding-left: 37px;
        }

        .col_3_p{
            font-size: 16px;
        }
}
@media screen and (max-width: 786px){
    .road_img{
        height: 1200px;
    }
    .row{
        width: 95%;
        flex-direction: row;
    }
    .col1_1:nth-child(even){
        margin: 20px 0;
    }
    .col1{
        display: none;
    }
    .col2{
        display: none;
    }
    .col3{
        display: none;
    }
    .col4{
        display: flex;
        flex-direction: column;
        text-align: end;
        width: 60%;
    }
    .col5{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 30%;
    }
    .col2_1:nth-child(2){
        padding-top: 150px;
    }
    .col2_1:nth-child(3){
        padding-top: 110px;
    }
    .col2_1:nth-child(4){
        padding-top: 45px;
    }
}
@media screen and (max-width: 455px){
    .road_img{
        height: 1100px;
    }
    .row{
        width: 95%;
        flex-direction: row;
    }
    .col1_1:nth-child(even){
        margin: 20px 0;
    }
    .col_1_p{
        font-size: 12px;
    }  
    .col1{
        display: none;
    }
    .col2{
        display: none;
    }
    .col3{
        display: none;
    }
    .col2_1:nth-child(2){
        padding-top: 80px;
    }
    .col2_1:nth-child(3){
        padding-top: 50px;
    }
    .col2_1:nth-child(4){
        padding-top: 0px;
    }
}
@media screen and (max-width: 430px){
    .road_img{
        height: 1100px;
    }
    .row{
        width: 95%;
        flex-direction: row;
    }
    .col1_1:nth-child(even){
        margin: 20px 0;
    }
    .col_1_p{
        font-size: 12px;
    }  
    .col1{
        display: none;
    }
    .col2{
        display: none;
    }
    .col3{
        display: none;
    }
    .col2_1:nth-child(2){
        padding-top: 80px;
    }
    .col2_1:nth-child(3){
        padding-top: 80px;
    }
    .col2_1:nth-child(4){
        padding-top: 0px;
    }
}
